.searchBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

    .searchBar {
        margin-left: 30px; //corrects the positioning caused by .navLinkIcons padding
    }

    .navLinkIcons {
        .far {
            padding-left: 10px;
        }
    }
}